.bgimg{
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height:  950px;
    
}
 .headerset{ 
    padding: 200px;
    box-sizing: border-box;
     margin-left: 15px;
    margin-top: 100px;
} 
.headerset h1{ 
    font-size: 50px;
    font-weight: bolder;
    font-family: cursive;
    /* margin-left: 35px; */
 }
 .headerset h6{ 
    font-size: 20px; 
    padding: 20px; 
    /* margin-left: 135px;  */
   
    
}
.btn{
    color: rgb(255, 30, 0);
    font-size: 15px;
    background-color: rgb(211, 212, 206);
    border-radius: 20%;
    /* margin-left: 171px; */
}
.headerset h1:hover{
    color: rgb(104, 165, 189);
    font-size: 53px;
    transition: 0.2s ease-in-out;
}
.headerset h6:hover{
    color: rgb(105, 105, 105);
    /* font-size: 23px;  */
    transition: 0.2s ease;

}

.posts{
    color: rgb(254, 255, 250);
    margin-top: 300px;
}
h2{
    font-size: 25px;
    padding-bottom: 7px;
    color: rgb(122, 122, 122);
}
.navbar-nav li a{
    transition: 0.4s ease;
    margin: 10px;
}
.navbar-nav li a:hover{
    background-color: rgb(0, 0, 0);
}
section{
    padding: 20px;
    margin: 10px;
}
.card{
    padding: 15px;
    background-color: rgb(107, 106, 106);
}
.card-body{
    color: white;
    background-color: black;
}
.card:hover{
    opacity: 0.7;
   
}
.myname{
    color: red;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}

.myname:hover{
    /* font-size: 19px; */
    
}
a{
    color: brown;
    font-weight: bold;
}
a:hover{
    color: rgb(0, 0, 0);
}

@media only screen and (max-width:800px){
    .headerset h1{ 
        font-size: 23px;
        font-weight: bold;
        font-family: cursive;
    }
    .headerset h6{
        color: rgb(231, 60, 60);
        font-size: 13px; 
    }
    .headerset{
        margin-top: 10px;
    }
    .headerset h1:hover{
        color: rgb(159, 212, 119);
        font-size: 25px;
        transition: 0.2s ease-in-out;
    }
    .myname:hover{
        font-size: 15px; 
        
    }
    .myname{
        background-color: rgb(254, 255, 250);   
        border-radius: 50%; 
    
    }
}
html {
    scroll-behavior: smooth;
   }